<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>
    <!-- Pour utiliser facilement les couleurs -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <!-- Logger console de Spring Boot -->
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <!-- Exposition du nom de l'app à la conf Logback (voir http://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#_environment_properties) -->
    <springProperty scope="context" name="log.origin" source="spring.application.name" />

    <appender name="OpenTelemetry"
              class="io.opentelemetry.instrumentation.logback.appender.v1_0.OpenTelemetryAppender">
        <captureMdcAttributes>*</captureMdcAttributes>
        <captureLoggerContext>true</captureLoggerContext>
    </appender>


    <!-- Logs applicatifs -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="OpenTelemetry" />
    </root>

</configuration>